{% extends 'base.html.twig' %}

{% block title %}Site image!{% endblock %}

{% block body %}

<div class="container">
        <div class="h1" align="center" style="margin-top: 20px">
           {{ titre }}
        </div>
</div>
{% endblock %}
